{% extends '::layout.html.twig' %}

{% block title %}{{ parent() }} - Gestion des Paniers{% endblock %}

{% block stylesheets %}
    {{ parent () }}

    {% stylesheets
        '@SmlePanBundle/Resources/public/css/*' combine=false filter='yui_css'
    %}
        <link rel="stylesheet" type="text/css" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block header %}
<div id="banner">
    {% image
        '@SmlePanBundle/Resources/public/images/logo3.png'
    %}
        <img src="{{ asset_url }}" alt="Logo SMLE" width="80"/>
    {% endimage %}
    {% image
        '@SmlePanBundle/Resources/public/images/oiseaux.png'
    %}
        <img src="{{ asset_url }}" style="position:absolute;top:20px;left:80%;z-index:50;" alt="Logo SMLE" width="200" />
    {% endimage %}
    <div class="fright">
    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
        Connecté en tant que {{ app.user.username }} - <a href="{{ path('fos_user_security_logout') }}">Déconnexion</a>
    {% else %}
        <a href="{{ path('fos_user_security_login') }}">Connexion</a>
    {% endif %}
    </div>
    <hr />
</div>
<div id="menu">
    {% if is_granted("ROLE_ADMIN") %}
    {{ knp_menu_render('admin') }}
    {% else %}
    {{ knp_menu_render('user') }}
    {% endif %}
</div>
    
<br />
{% endblock %}

{% block body %}

{% block fos_user_content %}{% endblock %}

{% endblock %}

{% block javascripts %}
    {% javascripts
        '@SmlePanBundle/Resources/public/js/jquery.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

