<!--
<h1>ProductPrice edit</h1>
-->
<div>
<form name="action_form" action="{{ path('productprice_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(edit_form) }}>
    <input type="hidden" name="date_ref" value="{{ dateRef }}" />
    <input type="hidden" name="rowstart" value="{{ rowstart }}" />
    <div class="fline htitle" title="">{{ entity.productUnit.product.label }}</div>
    <div class="fline" title="">Nouveau prix : {{ form_widget(edit_form.price, { 'attr': {'class': 'ifocus ffloat'} }) }}</div>
    <div  class="fline" title="">
        {% if removable %}<input class="fsubmit" type="button" onclick="document.action_form.action = '{{ path('productprice_delete', { 'id': entity.id }) }}';document.action_form.submit();" value="Supprimer" />{% endif %}
        <button class="fsubmit" type="submit">Modifier</button>
    </div>
    <div class="hidden">{{ form_rest(edit_form) }}</div>
</form>
</div>
<!--
<ul class="record_actions">
    <li>
        <a href="{{ path('productprice') }}">
            Back to the list
        </a>
    </li>
    <li>
        <form action="{{ path('productprice_delete', { 'id': entity.id }) }}" method="post">
            {{ form_widget(delete_form) }}
            <button type="submit">Delete</button>
        </form>
    </li>
</ul>
-->
