{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<h1>Liste des AMAP</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Adresse</th>
            <th>Cp</th>
            <th>Ville</th>
            <th>Téléphone</th>
            <th>Email</th>
            <th>Jour de livraison</th>
            <th>Paniers</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('amap_show', {'id' : entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.address }}</td>
            <td>{{ entity.cp }}</td>
            <td>{{ entity.city }}</td>
            <td>{{ entity.phone }}</td>
            <td>{{ entity.email }}</td>
            <td>
                {% for amapDeliveryDay in entity.amapDeliveryDays %}
                <input type="hidden" value="{{ entity.id }}" /><a class="aamapdeliveryday" href="#">{{ amapDeliveryDay.day|getDay }}&nbsp;&nbsp;&nbsp;</a>
                {% endfor %}
            </td>
            <td><input type="hidden" value="{{ entity.id }}" /><a class="apaniers" href="{{ path('panierorder_searchrecap', { 'amapId': entity.id }) }}">rechercher</a></td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div id="edit_block" class="fly"></div>

<form id="subform" method="post"></form>

{% endblock %}

{% block javascripts %}{{ parent() }}
<script type="text/javascript">
$(document).ready(function(){
    $('.aamapdeliveryday').click(function(evt) {
        $.ajax({
            type: "POST",
            url: "{{ path('amapdeliveryday_new')}}",
            data: { 'amapId': this.previousSibling.value },
            success: function(data){
                $('#edit_block').html(data)
                    .css('left', $(evt.target).offset().left + 'px')
                    .css('top', $(evt.target).offset().top + 'px');
                $('.fly').css('width', '24em');
            }
        }).fail(function() { alert("error"); });    
        return false;
    });
    $('.apaniers').click(function(evt) {
        $.ajax({
            type: "POST",
            url: "{{ path('panierorder_searchrecap')}}",
            data: { 'amapId': this.previousSibling.value },
            success: function(data){
                $('#edit_block').html(data)
                    .css('left', ($(evt.target).offset().left - 200)+ 'px')
                    .css('top', $(evt.target).offset().top + 'px');
                $('.fly').css('width', '21em');
            }
        }).fail(function() { alert("error"); });    
        return false;
    });
});

$(document).click(function(evt) {
    var e = evt.target;
    while(e) {
        if(e.id == 'edit_block') return;
        e = e.parentNode;
    }
    $('#edit_block').empty();
});

function subform_submit(path) {
	$('#subform').attr('action', path).submit();
}
function subform_clear() {
	$('#edit_block').html('');
}
</script>
{% endblock %}

