<h1>PanierAdherent</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <td>{{ entity.id }}</td>
        </tr>
        <tr>
            <th>Date_start</th>
            <td>{{ entity.datestart|date('Y-m-d H:i:s') }}</td>
        </tr>
        <tr>
            <th>Date_end</th>
            <td>{{ entity.dateend|date('Y-m-d H:i:s') }}</td>
        </tr>
    </tbody>
</table>

<ul class="record_actions">
    <li>
        <a href="{{ path('panieradherent') }}">
            Back to the list
        </a>
    </li>
</ul>
