{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<h1>Liste des Adhérents</h1>

<form action="{{ path('amapadherent_assign') }}" method="POST">

<table class="record_list">
    <thead>
        <tr>
            <th><input type="checkbox" id="icb_all" />Id</th>
            <th>Adhérent</th>
            <th>Adresse</th>
            <th>Ville</th>
            <th>Amap</th>
            <th>Panier</th>
            <th>Contact</th>
<!--
            <th>Actions</th>
-->
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><input class="small-checkbox" id="ADH{{ entity.adherent.id }}" type="checkbox" name="adherents[]" value="{{ entity.id }}" /><a href="{{ path('amapadherent_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>
                <label for="ADH{{ entity.adherent.id }}">{{ entity.adherent.name }}</label>
            </td>
            <td>
                {{ entity.adherent.address }}
            </td>
            <td>
                {{ entity.adherent.cp }} {{ entity.adherent.city }}
            </td>
            <td>{% if entity.amap.name is defined %}{{ entity.amap.name }}{% endif %}</td>
            <td>{% if entity.panierAdherents %}
                    {% for panierAdherent in entity.panierAdherents %}
                    {{ panierAdherent.panier.name }}
                    {% endfor %}
                {% endif %}</td>
            <td>{{ entity.contact }}</td>
<!--
            <td>
                <ul>
                    <li>
                        <a href="{{ path('amapadherent_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('amapadherent_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
            </td>
-->
        </tr>
    {% endfor %}
        <tr>
            <td colspan="4">Pour la sélection</td>
            <td>
                {{ form_widget(form.amap) }}<button type="submit" name="assign" value="amap">Affecter</button>
            </td>
            <td>
                {{ form_widget(form_panier.panier) }}<button type="submit" name="panier">Définir</button>
            </td>
            <td>
                <button type="submit" name="assign" value="contact">Définir</button>
            </td>
        </tr>
    </tbody>
</table>

</form>
{% endblock %}

{% block javascripts %}{{ parent() }}
<script type="text/javascript">
$(document).ready(function(){
    $('#icb_all').click(function() {
        $('input').attr('checked', this.checked);
    });
});

</script>
{% endblock %}
