<h1>Produits</h1>

<div>
<table id="tpp" class="product_list" border="1" cellspacing="0" cellpadding="0">
    <thead>
        <tr>
            <th width="220">Nom</th>
            <th>
                <select id="units" size="1" onchange="setUnitFilter(this)">
                    <option value="0">Tous</option>
                    {% for unit in units %}
                    <option value="{{ path('product_all_unit', { 'rowstart': rowstart, 'unit': unit.id }) }}" 
                    {% if u == (loop.index) %} selected
                    {% endif %}
                    >{{ unit.label }}</option>
                    {% endfor %}
                </select>
            </th>
            <td class="whead">
            {{ dateRef|setYears(rowstart, coeff) }}
        {% for i in 0..11 %}
            {{ loop.index0|monthSet }}
        {% endfor %}
        {% for i in 1..52 %}
            {{ loop.index0|weekSet }}
        {% endfor %}
            &nbsp;</td>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr id="{{ entity.product.ref }}" class="{% if hasChild(entity.productPrices) == 0 %}hidden{%endif%} {{ entity.product.ref }}{{ entity.unit.id }}">
            <td class="htag">
                <a class="product" href="{{ path('product_show', { 'id': entity.product.id }) }}">
                {{ entity.product.label }}
                </a>
            </td>
            <td class="htag">
                {{ entity.unit.label }}
            </td>
            <td class="wsel" width="{{ 52*coeff }}px"><input type="hidden" value="{{ entity.id }}" />
        {% for productPrice in entity.productPrices %}
            {% if productPrice.price > 0 %}
            {{ productPrice|toDisplay }}
            {% else %}
            {{ productPrice|toEnd }}
            {% endif %}
        {% endfor %}
            &nbsp;</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div id="paginator" style="float:right;">
    <span id="pdt_first"></span>
    <span id="pdt_previous"></span>
    <span id="pdt_current"></span>
    <span id="pdt_next"></span>
    <span id="pdt_last"></span>
</div>
</div>

<select size="1" id="unused_products">
    <option value="0"></option>
    {% for entity in entities %}
    <option value="{{ entity.product.ref }}{{ entity.unit.id }}" class="{% if hasChild(entity.productPrices) > 0 %}hidden{%endif%} {{ entity.product.ref }}{{ entity.unit.id }}">{{ entity.product.label }}</option>
    {% endfor %}
</select>
