{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<h1>{{ entity.label }} ({{ entity.id }})</h1>

<table class="record_properties">
    <tbody>
        <tr>
            <th>Id</th>
            <th>Unité</th>
            <th>Poids (kg)</th>
        </tr>
        {% for pu in entity.productUnits %}
        <tr>
            <td>{{ pu.id }}</td>
            <td>{{ pu.unit.label }}</td>
            <td>{{ pu.weight }}</td>
        </tr>
        {% endfor %}
    </tbody>
</table>

<button onclick="addUnit({{ entity.id }})">Ajouter une unité</button><br /><br />

<div id="edit_block" class="fix"></div>

<ul class="record_actions">
    <li>
        <a href="{{ path('product') }}">
            Retour
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}{{ parent() }}
<script type="text/javascript">
$(document).click(function(evt) {
    var e = evt.target;
    while(e) {
        if(e.id == 'edit_block') return;
        e = e.parentNode;
    }
    $('#edit_block').empty();
});

function addUnit(id) {
    $.ajax({
        type: "POST",
        url: "{{ path('productunit_new') }}",
        data: { 'productId': id },
        success: function(data){
            $('#edit_block').html(data);
            $('.fly').css('width', '24em');
        }
    }).fail(function() { alert("error"); });    
    return false;
}
</script>
{% endblock %}
