{% extends 'SmlePanBundle::layout.html.twig' %}
{% block body %}

<div id="edit_block" class="fly"></div>

<form id="subform" method="post"></form>

<div>
<form action="{{ path('product_update_all') }}">
<!--
    <button type="submit">Mettre à jour les produits</button>
-->
</form>

</div>

{% endblock %}

{% block javascripts %}{{ parent() }}
<script type="text/javascript">
var coeff = parseInt((window.innerWidth - 270) / 52);//~offsetLeft :: nb columns
var dateRef;
var nbrows = parseInt((window.innerHeight - 170) / 20);//~offsetTop :: nb rows
var rowstart = 0;
    
$(document).ready(function(){
    dateRef = '{{ dateRef|date('Y-m-d') }}';
    rowstart = {{ rowstart }};
    coeff = parseInt((window.innerWidth - 300) / 52);
    nbrows = parseInt((window.innerHeight - 180) / 20);
    $.ajax({
        type: "POST",
        url: "{{ path('product_all_get_data')}}",
        data: {
            'ddeb': dateRef,
            'unit': {{ u }},
            'coeff': coeff,
            'nbrows': nbrows
            },
        success: function(data){
            $('#edit_block').before(data);
        },
        complete: function(){
            if(nbrows >= $('#tpp > tbody > tr').size() - $('#tpp > tbody > tr.hidden').size())
                nbrows = $('#tpp > tbody > tr').size() - $('#tpp > tbody > tr.hidden').size() - 1;
            $('.wprice a,.wnull a').click(function(evt) {
                $.ajax({
                    type: "POST",
                    url: "{{ path('productprice_edit')}}",
                    data: {
                        'id': this.previousSibling.value,
                        'dateRef': dateRef,
                        'rowstart': rowstart
                        },
                    success: function(data){
                        $('.fly').css('width', '16em');
                        $('#edit_block').html(data)
                            .css('left', (evt.pageX - $('.fly').width()) + 'px')
                            .css('top', evt.pageY + 'px');
                        $('.ifocus').focus();
                    }
                }).fail(function() { alert("error"); });    
                return false;
            });
            $('.wsel').click(function(evt, title) {
                if(!title){
                    var week = parseInt((evt.pageX - this.offsetLeft - 10)/coeff);
                    title = $('.wblock').get(week).title;
                }
                var date = title.split('/');
                date = date[2] + '-' + date[1] + '-' + date[0]; 
                $.ajax({
                    type: "POST",
                    url: "{{ path('productprice_new')}}",
                    data: {
                        'date': date,
                        'productUnit': this.firstChild.value,
                        'dateRef': dateRef,
                        'rowstart': rowstart
                        },
                    success: function(data){
                        $('.fly').css('width', '20em');
                        $('#edit_block').html(data)
                            .css('left', (evt.pageX - $('.fly').width()) + 'px')
                            .css('top', evt.pageY + 'px');
                        $('.ifocus').focus();
                    }
                }).fail(function() { alert("error"); });    
                return false;
            });
            $('.wblock').hover(
                function() {
                    $(this).toggleClass('wblock-down');
                }
            ).click(
                function(evt) {
                    var pos = (evt.pageY - this.offsetTop - 12)/$('.wsel').parent().height() + rowstart;
                    if( pos > 0)
                    $($('#tpp tbody tr').not('.hidden').children('.wsel').get(parseInt(pos))).trigger(evt, this.title);
                }
            ).height(($('option.hidden').length) * $('.wsel').parent().height() + 12);
            $('.wmonth').height(($('option.hidden').length) * $('.wsel').parent().height() + $('.whead').parent().height() - 2);
            $('#unused_products').change(function() {
                if(!this.value) return;
                $('.' + this.value).toggleClass('hidden');
                this.value = 0;
                $.rowdisplay(rowstart);
                return;
            });
            $('.wblock-down > a').click(function(){
                if(!document.action_form) return;
                $('#smle_panbundle_productpricetype_dEnd').attr('value', this.id);
                document.action_form.submit();
            }).css('cursor','pointer');   
            $('#tpp').parent().width($('#tpp').width());
            $.rowdisplay(rowstart, nbrows);
        }
    }).fail(function() { alert("error"); });
    return false;
});

$(document).click(function(evt) {
    var e = evt.target;
    while(e) {
        if(e.id == 'edit_block') return;
        e = e.parentNode;
    }
    $('#edit_block').empty();
});

$.adjustHeight = function() {
    $('.wblock').height((nbrows + 1) * $('.wsel').parent().height() + 8);
    $('.wmonth').height((nbrows + 1) * $('.wsel').parent().height() + $('.whead').parent().height() - 10);
}

$.rowdisplay = function(start, number) {
    if(number) nbrows = number;
    rowstart = start;
    var row = 0;
    var available_pdts = $('#tpp > tbody > tr').size() - $('#tpp > tbody > tr.hidden').size();
    //Reinit
    $('tbody > tr').removeClass('outofpage');
    $('#paginator span').html('');
    //Pagine
    $('tbody > tr').each(function(i){
        if(!$(this).hasClass('hidden')){
            if(row < start || row > start + nbrows)
                $(this).addClass('outofpage');
            row++;
        }
    });
    $.adjustHeight();
    if(start > 0){
        var previousStart = start - nbrows > 0 ? start - nbrows : 0;
        $('#pdt_first').html('<a href="#" onclick="$.rowdisplay(0)">&laquo;</a>');
        $('#pdt_previous').html('<a href="#" onclick="$.rowdisplay(' + previousStart + ')">&lsaquo;</a>');
    }
    $('#pdt_current').html('Produits disponibles ' + (start + 1) + ' à ' + (nbrows + start + 1) + ' sur ' + available_pdts);
    if(start + nbrows + 1 < available_pdts){
        var nextStart = available_pdts - (start + nbrows) > nbrows ? start + nbrows : available_pdts - nbrows - 1;
        $('#pdt_next').html('<a href="#" onclick="$.rowdisplay(' + nextStart + ')">&rsaquo;</a>');
        $('#pdt_last').html('<a href="#" onclick="$.rowdisplay(' + (available_pdts - nbrows - 1) + ')">&raquo;</a>');
    }
    return;
}

function setUnitFilter(e) {
	location.replace(e.value);
}
function subform_submit(path) {
	$('#subform').attr('action', path).submit();
}
function subform_clear() {
	$('#edit_block').html('');
}
</script>
{% endblock %}
