{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<h1>Tableau de Bord</h1>

<table class="home_table"><tbody>
{% for week in t_data %}
<tr>
    <tr><td colspan="2"><div class="estimations_link"></div><h3>{{ week['date']|getWeek('full') }}</h3></td></tr>
    <td class="home_data" style="width:60%;">
        <div>
        <h4>Paniers</h4>
        <table class="records_list"><tbody>
            <tr>
                <th><div>AMAP</div></th>
                {% for id, panier in t_paniers  %}
                <th><div style="width:60px;"><span>{{ panier }}</span></div></th>
                {% endfor %}
                <th style="width:40px;">Recap</th>
            </tr>
            {% for amap in amaps %}
            <tr>
                {% set panier_check = 0 %}
                <th><div style="width:180px;"><a href="{{ path('amap_show', {'id' : amap.id }) }}">{{ amap.name }}</a></div></th>
                {% for id, panier in t_paniers  %}
                <td
                    {% if week['tAmapPo'][amap.id][id] is defined %}
                    style="background:#5f0;">
                    <a href="{{ path('panierorder_edit', { 'id': week['tAmapPo'][amap.id][id].id, 'amapId' : amap.id }) }}">{{ week['tAmapPo'][amap.id][id].id }}</a>
                    {% image
                        '@SmlePanBundle/Resources/public/images/loupe.png'
                    %}
                        <img class="fright loupe" src='{{ asset_url }}' alt="voir-{{ week['tAmapPo'][amap.id][id].id }}" height='16'/>
                    {% endimage %}
                    {% set panier_check = 1 %}
                    {% else %}
                    {% if t_amap_paniers[amap.id][id] is defined %}
                    style="background:#ccc;">
                    <a href="{{ path('panierorder_direct_new', { 'amapId' : amap.id, 'date' : week['date']|date('Y-m-d'), 'panierId': id }) }}">new</a>
                    {% else %}
                    >
                    {% endif %}
                    {% endif %}
                </td>
                {% endfor %}
                <td>
                    {% if panier_check %}
                    <a href="{{ path('panierorder_printrecap', { 'amapId' : amap.id, 'date' : week['date']|date('Y-m-d') }) }}">voir</a>
                    {% endif %}
                </td>
            </tr>
            {% endfor %}
        </tbody></table>
        </div>
    </td>
    <td class="home_data" style="width:40%;">
        <div>
        <h4>
            <a href="{{ path('home_printqtyrecaptopdf', {'date' : week['date']|date('Y-m-d') }) }}">
            {% image
                '@SmlePanBundle/Resources/public/images/Adobe_PDF_Icon.svg.png'
            %}
                <img src="{{ asset_url }}" alt="pdf icon" height="24" style="float:right;" />
            {% endimage %}
            </a>
            <a href="{{ path('home_printqtyrecapbeforepdf', {'date' : week['date']|date('Y-m-d') }) }}">Produits - bilan</a>
        </h4>
        {% set totp = 0 %}
        <table class="records_list"><tbody>
            <tr>
                <th style="width:36%;">Produit</th>
                <th style="width:16%;"><a href="{{ path('weekproduction_new', { 'date' : week['date']|date('Y-m-d') }) }}">Prévisions</a></th>
                <th style="width:16%;">Quantité</th>
                <th style="width:16%;">Écart</th>
                <th style="width:16%;">Prix</th>
            </tr>
            {% if week['recap'] is defined %}
            {% for recap in week['recap'] %}
            <tr>
                <td>{{ recap['name'] }}</th>
                <td class="cell_number">{{ '%.1f'|format(recap['prod']) }}</td>
                <td class="cell_number">{{ '%.1f'|format(recap['qtyp']) }}</td>
                <td class="cell_number"><span{% if recap['prod'] - recap['qtyp'] < 0 %} class="alert"{% endif %}>{{ '%.1f'|format(recap['prod'] - recap['qtyp']) }}</span></td>
                <td class="cell_number">{{ '%.2f'|format(recap['pricep']) }}</td>
                {% set totp = totp + (recap['pricep']) %}
            </tr>
            {% endfor %}
            {% endif %}
            <tr>
                <th>Total</th>
                <th></th>
                <th></th>
                <th></th>
                <th>{{ '%.2f'|format(totp) }}</th>
            </tr>
        </tbody></table>
        </div>
    </td>
</tr>
{% endfor %}
</tbody></table>

<div id="edit_block" class="fly"></div>

<form id="subform" method="post"></form>

{% endblock %}

{% block javascripts %}{{ parent() }}
<script type="text/javascript">
$(document).ready(function(){
    $('.loupe').hover(
        function(evt) {
            //alert(this.alt.split('-')[1]);
            $.ajax({
                type: "POST",
                url: "{{ path('panierorder_preview')}}",
                data: { 'id': this.alt.split('-')[1] },
                success: function(data){
                    $('#edit_block').html(data)
                        .css('left', ($(evt.target).offset().left - 100) + 'px')
                        .css('top', ($(evt.target).offset().top + 20) + 'px');
                    $('.fly').css('width', '30em');
                }
            }).fail(function() { alert("error"); })
        },    
        function() {
            subform_clear();
        }
    );
});

$(document).click(function(evt) {
    var e = evt.target;
    while(e) {
        if(e.id == 'edit_block') return;
        e = e.parentNode;
    }
    $('#edit_block').empty();
});

function subform_submit(path) {
	$('#subform').attr('action', path).submit();
}
function subform_clear() {
	$('#edit_block').html('');
}
</script>
{% endblock %}

