<div>
<form action="{{ path('amapdeliveryday_create') }}" method="post" {{ form_enctype(form) }}>
    <h4>{{ entity.amap.name }}</h4>
    <div class="fline" title="">Nouveau jour de livraison : {{ form_widget(form.day, { 'attr': {'class': 'fselect'} }) }}</div>
    <div class="fline" title="">À partir du : {{ form_widget(form.date_start, { 'attr': {'class': 'fdate'} }) }}</div>
    <span class="hidden">{{ form_rest(form) }}</span>
    <div class="fline">&nbsp;<button class="fsubmit" type="submit">Valider</button></div>
</form>
</div>
