{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<div>
<h1>Prévisions de Production</h1>

<dl>
    <dt>Semaine :</dt>
    <dd>{{ entity.date|getWeek('full') }}</dd>
</dl>

<form id="weekproduction_form" name="weekproduction_form" action="{{ path('weekproduction_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    <table id="panier_table" class="records_list" style="table-layout: fixed;">
        <tbody>
            <tr>
                <th>Produits disponibles</th>
                <th>Unité</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Prix Total</th>
            </tr>
            {% for pu in form.productUnits %}
            <tr id="{{ entity.productUnits[loop.index0].productPrice.productUnit.product.ref }}" class="{{ entity.productUnits[loop.index0].productPrice.productUnit.product.ref }}
                {% if pu.quantity.vars.value == 0 %}hidden{% endif %}
                ">
                <td>
                    {% image
                        '@SmlePanBundle/Resources/public/images/cancel.png'
                    %}
                        <img class="cancel" src='{{ asset_url }}' alt='effacer' height='11'/>
                    {% endimage %}
                    <input type="hidden" name="productPrices[]" value="{{ entity.productUnits[loop.index0].productPrice.id }}" />{{ entity.productUnits[loop.index0].productPrice.productUnit.product.label }}</td>
                <td>{{ entity.productUnits[loop.index0].productPrice.productUnit.unit.label }}</td>
                <td class="pu_price">{{ entity.productUnits[loop.index0].productPrice.price }}</td><td>{{ form_widget(pu.quantity, { 'attr': { 'class': 'ifloat iqty fixed', 'tabindex': loop.index } }) }}
                </td><td class="cell_number line_total">{{ entity.productUnits[loop.index0].productPrice.price * pu.quantity.vars.value }}</td>
            </tr>    
            {% endfor %}
            <tr>
                <td>
                </td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td id="price_total" class="cell_number">0</td>
            </tr>
        </tbody>
    </table>
<div class="hidden">{{ form_rest(form) }}<input type="hidden" id="last_value" /></div>    
<div id="command_block">
    Ajouter un produit disponible
    <select id="unused_products" size="1">
        <option value="0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
    {% for pu in entity.productUnits %}
        <option class="{{ pu.productPrice.productUnit.product.ref }} {% if pu.quantity != 0 %}hidden{% endif %}" value="{{ pu.productPrice.productUnit.product.ref }}">
            {{ pu.productPrice.productUnit.product.label }}
        </option>
    {% endfor %}
    </select>
<div class="fright"><input type="button" value="Modifier" onclick="document.weekproduction_form.submit();"></div>
</div>
</form>

</div>

<br />

<div>
    <form action="{{ path('weekproduction_delete', { 'id': entity.id }) }}" method="post" class="inlined">
        {{ form_widget(delete_form) }}
        <button type="submit">Supprimer</button>
    </form>
    &nbsp;
</div>


{% endblock %}

{% block javascripts %}{{ parent() }}
    {% javascripts
        '@SmlePanBundle/Resources/public/js/jshashtable.js'
        '@SmlePanBundle/Resources/public/js/jquery.numberformatter.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
$.ajustPrices = function() {
    //2- adjust the no fixed lines (fixed : value set manually)
    tmpTotal = 0;
    $('.iqty').each(function() {
        if(!$(this).hasClass('fixed')) {
            this.value = rt;
            $.adjustLine(this);
        }
        tmpTotal += eval(this.parentNode.nextSibling.innerHTML);
        return;
    });
    //3- some formatting
    $('#price_total').html(tmpTotal);
    $('.iqty').formatNumber({format:"#0.0", locale:"us"});
    $('.cell_number').formatNumber({format:"#0.00", locale:"us"});
    return;
}

$.adjustLine = function(iqty) {
    var next = $(iqty.parentNode).next();
    var weight_total = iqty.value;
    // Column price (PU * qty)
    next.html(weight_total * iqty.parentNode.previousSibling.innerHTML);
    return false;
}

$.toggleLock = function(img, lock) {
    if(lock && $(img).hasClass('lock')) return;
    var parent = $(img).parent();
    $(parent).children('img').toggleClass('hidden');
    $(parent).append(img);
    return;
}

$.clear = function(p) {
    var tr = $(p).parents('tr');
    var iqty = tr.find('.iqty');
    iqty.attr('value', 0);
    iqty.trigger('change');
    //$('.' + $(tr).attr('id')).toggleClass('hidden');
    return;
}

$(document).ready(function(){
    $('.iqty').change(function(evt) {
        $(this).addClass('fixed');
        $.adjustLine(this);
        if(this.value == 0) {
            $('.' + this.parentNode.parentNode.id).toggleClass('hidden');
        }
        $.toggleLock($(this).next(), true)
        $.ajustPrices();
        return;
    }).focus(function(){
        lastField = this;
        $('#last_value').attr('value',this.value);
        this.select();
    });
    //clear button
    $('.cancel').click(function() {
        $.clear(this);
        $.ajustPrices();
        return;
    });
    //selector for products with no quantity
    $('#unused_products').change(function() {
        if(!this.value) return;
        $('.' + this.value).toggleClass('hidden');
        this.value = 0;
        return;
    });
    $.ajustPrices();
    $('#command_block').width($('#panier_table').width());
});

</script>
{% endblock %}
