{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<h1>Panier list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Nom</th>
            <th>Description</th>
            <th>Prix TTC</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('panier_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.name }}</td>
            <td>{{ entity.description }}</td>
            <td>
                {% for panierPrice in entity.panierPrices %}
                <input type="hidden" value="{{ entity.id }}" /><a class="aprice" href="#">{{ panierPrice.price }}</a>
                {% endfor %}
            </td>
            <td>
                
                <!--
                <ul>
                    <li>
                        <a href="{{ path('panier_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('panier_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                -->
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<div id="edit_block" class="fly"></div>

<form id="subform" method="post"></form>

<ul>
    <li>
        <a href="{{ path('panier_new') }}">
            Create a new entry
        </a>
    </li>
</ul>


{% endblock %}

{% block javascripts %}{{ parent() }}
<script type="text/javascript">
$(document).ready(function(){
    $('.aprice').click(function(evt) {
        $.ajax({
            type: "POST",
            url: "{{ path('panierprice_new')}}",
            data: { 'panierId': this.previousSibling.value },
            success: function(data){
                $('#edit_block').html(data)
                    .css('left', $(evt.target).offset().left + 'px')
                    .css('top', $(evt.target).offset().top + 'px');
                $('.fly').attr('width', '13em');
                $('.ifocus').focus();
            }
        }).fail(function() { alert("error"); });    
        return false;
    });
});

$(document).click(function(evt) {
    var e = evt.target;
    while(e) {
        if(e.id == 'edit_block') return;
        e = e.parentNode;
    }
    $('#edit_block').empty();
});

function subform_submit(path) {
	$('#subform').attr('action', path).submit();
}
function subform_clear() {
	$('#edit_block').html('');
}
</script>
{% endblock %}
