{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<h1>Unités</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Libellé</th>
        </tr>
    </thead>
    <tbody>
    {% for entity in entities %}
        <tr>
            <td><a href="{{ path('unit_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
            <td>{{ entity.label }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>

<ul>
    <li>
        <a href="{{ path('unit_new') }}">
            Ajouter une unité
        </a>
    </li>
</ul>
{% endblock %}
