{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<div id="rightside_block">
    <h4>Rechercher des Paniers</h4>
    <form>
    <table><tbody>
        <tr>
            <th>AMAP</th>
            <td><select id="amap_sel" name="amap_sel" size="1">
                <option value="0">(toutes)</option>
                {% for amap in amap_all %}
                <option value="{{ amap.id }}"{% if amap_id == amap.id %} selected{% endif %}>{{ amap.name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <th>Type</th>
            <td><select id="type_sel" name="type_sel" size="1">
                <option value="0">(tous)</option>
                {% for type in panier_all %}
                <option value="{{ type.id }}"{% if entity.panier.id == type.id %} selected{% endif %}>{{ type.name }}</option>
                {% endfor %}
            </select></td>
        </tr>
        <tr>
            <th>Nombre</th>
            <td><input id="ilimit" type="text" class="ifloat" value="4" /><button id="searchbtn" style="float:right;">Chercher</button></td>
        </tr>
    </tbody></table>
    </form>
    <form name="panierorder_duplicate" method="POST" action="{{ path('panierorder_duplicate', {'amapId': amap_id, 'date': entity.date|date('Y-m-d'), 'panierId': entity.panier.id }) }}">
        <input type="hidden" name="poRefId" />
    </form>
    <div id="search_panel"></div>
</div>
<div>
<h1>Panier {{ entity.id }}</h1>

<dl>
    {% for amap in amap_data %}
        {% if amap_id == amap.a_id %}
        <dt>AMAP :</dt>
        <dd>{{ amap.a_name }}</dd>
        {% endif %}
    {% endfor %}
    <dt>Type :</dt>
    <dd>{{ panier_price.panier.name }}</dd>
    <dt>Prix :</dt>
    <dd>{{ panier_price.price }} €</dd>
    <dt>Semaine :</dt>
    <dd>{{ entity.date|getWeek('full') }}</dd>
</dl>

<form id="panierorder_form" name="panierorder_form" action="{{ path('panierorder_update', { 'id': entity.id }) }}" method="post" {{ form_enctype(form) }}>
    <table id="panier_table" class="records_list" style="table-layout: fixed;">
        <tbody>
            <tr>
                <th>Produits disponibles</th>
                <th>Unité</th>
                <th>Prix</th>
                <th>Quantité</th>
                <!--
                <th>Poids Total</th>
                -->
                <th>Prix Total</th>
                {% for amap in amap_data %}
                {% if amap.npanieramapadherents > 0 %}
                <th style="font-size:80%;width:120px;">
                    {{ amap.a_name }}
                </th>
                {% endif %}
                {% endfor %}
                <th>Poids Total</th>
            </tr>
            {% for pu in form.productUnits %}
            <tr id="{{ entity.productUnits[loop.index0].productPrice.productUnit.product.ref }}" class="{{ entity.productUnits[loop.index0].productPrice.productUnit.product.ref }}
                {% if pu.quantity.vars.value == 0 %}hidden{% endif %}
                ">
                <td>
                    {% image
                        '@SmlePanBundle/Resources/public/images/cancel.png'
                    %}
                        <img class="cancel" src='{{ asset_url }}' alt='effacer' height='11'/>
                    {% endimage %}
                    <input type="hidden" name="productPrices[]" value="{{ entity.productUnits[loop.index0].productPrice.id }}" />{{ entity.productUnits[loop.index0].productPrice.productUnit.product.label }}</td>
                <td>{{ entity.productUnits[loop.index0].productPrice.productUnit.unit.label }}</td>
                <td class="pu_price">{{ entity.productUnits[loop.index0].productPrice.price }}</td><td>{{ form_widget(pu.quantity, { 'attr': { 'class': 'ifloat iqty fixed', 'tabindex': loop.index } }) }}
                    {% image
                        '@SmlePanBundle/Resources/public/images/lock.png'
                    %}
                        <img class="recompute lock" src='{{ asset_url }}' alt='lock' height='18'/>
                    {% endimage %}
                    {% image
                        '@SmlePanBundle/Resources/public/images/unlock.png'
                    %}
                        <img class="recompute unlock hidden" src='{{ asset_url }}' alt='unlock' height='18'/>
                    {% endimage %}
                </td><td class="cell_number line_total">{{ entity.productUnits[loop.index0].productPrice.price * pu.quantity.vars.value }}</td>
                {% set total_weight = 0 %}
                {% for amap in amap_data %}
                {% if amap.npanieramapadherents > 0 %}
                <td class="{{ amap.a_ref }}" style="text-align:right;"><span class="cell_number">
                    {{ amap.npanieramapadherents * pu.quantity.vars.value }}</span>
                    {% set total_weight = total_weight + amap.npanieramapadherents * pu.quantity.vars.value %}
                </td>
                {% endif %}
                {% endfor %}
                <td class="total_weight" style="text-align:right;"><span class="cell_number">
                    {{ total_weight }}</span>
                </td>
            </tr>    
            {% endfor %}
            <tr>
                <td>
                </td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td id="price_total" class="cell_number">{{ panier_price.price }}</td>
                {% for amap in amap_data %}
                {% if amap.npanieramapadherents > 0 %}
                <td>
                </td>
                {% endif %}
                {% endfor %}
                <td></td>
            </tr>
        </tbody>
    </table>
<div class="hidden">{{ form_rest(form) }}<input type="hidden" id="last_value" /></div>    
<div id="command_block">
    Ajouter un produit disponible
    <select id="unused_products" size="1">
        <option value="0">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</option>
    {% for pu in entity.productUnits %}
        <option class="{{ pu.productPrice.productUnit.product.ref }} {% if pu.quantity != 0 %}hidden{% endif %}" value="{{ pu.productPrice.productUnit.product.ref }}">
            {{ pu.productPrice.productUnit.product.label }}
        </option>
    {% endfor %}
    </select>
<div class="fright"><input type="button" value="Modifier" onclick="document.panierorder_form.submit();"></div>
</div>
</form>
<h3>Actions :</h3>
<div>
    <form action="{{ path('panierorder_delete', { 'id': entity.id }) }}" method="post" class="inlined">
        {{ form_widget(delete_form) }}
        <button type="submit">Supprimer</button>
    </form>
    &nbsp;
    {% if (amap_id and panier_form.panier.vars.choices|length > 0) %}
    <form action="{{ path('panierorder_duplicate', { 'amapId' : amap_id, 'date' : entity.date|date('Y-m-d') }) }}" method="post" class="inlined">
        {{ form_label(panier_form.panier) }}
        {{ form_widget(panier_form.panier) }}
        {{ form_widget(panier_form.duplicMode.0) }}
        {{ form_label(panier_form.duplicMode.0) }}
        <button type="submit" id="duplicatebtn">Dupliquer</button>
        {{ form_rest(panier_form) }}
    </form>
    {% endif %}
</div>

<h3>Adhérents :</h3>
<ul class="">
    {% for amap in amap_data %}
    <li style="width:500px;"><input type="hidden" id="{{ amap.a_ref }}" value="{{ amap.npanieramapadherents }}" />
        {{ amap.a_id }} - <a href="{{ path('panierorder_editamappanieradherents', { 'id': entity.id, 'amap': amap.a_id }) }}">{{ amap.a_name }}</a>
        <div style="float:right;">{{ amap.npanieramapadherents }} paniers / {{ amap.namapadherents }} adhérents</div>
    </li>
    {% endfor %}
</ul>

<ul class="record_actions">
    <li>
        <a href="{{ path('panierorder') }}">
            Liste des paniers
        </a>
    </li>
</ul>
</div>

{% endblock %}

{% block javascripts %}{{ parent() }}
    {% javascripts
        '@SmlePanBundle/Resources/public/js/jshashtable.js'
        '@SmlePanBundle/Resources/public/js/jquery.numberformatter.min.js'
    %}
        <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
<script type="text/javascript">
var panierPrice;
var lastField;

$.ajustPrices = function() {
    var tmpTotal = 0;
    var pprice = panierPrice;
    //1- define the ratio between the column total and the panier price
    $('.line_total').each(function() {
        var iqty = this.previousSibling.firstChild;
        if($(iqty).hasClass('fixed'))
            pprice -= eval(this.innerHTML); // => rest to adjust
        else {
            tmpTotal += eval(this.previousSibling.previousSibling.innerHTML); // => no defined
        }
        return;
    });
    //if(pprice < -0.01) return $.rollbackPrices();
    var rt = pprice / tmpTotal;
    //2- adjust the no fixed lines (fixed : value set manually)
    tmpTotal = 0;
    $('.iqty').each(function() {
        if(!$(this).hasClass('fixed')) {
            this.value = rt;
            $.adjustLine(this);
        }
        tmpTotal += eval(this.parentNode.nextSibling.innerHTML);
        return;
    });
    //3- some formatting
    $('#price_total').html(tmpTotal);
    $('.iqty').formatNumber({format:"#0.000", locale:"us"});
    $('.cell_number').formatNumber({format:"#0.00", locale:"us"});
    return;
}

$.adjustLine = function(iqty) {
    var next = $(iqty.parentNode).next();
    var weight_total = iqty.value;
    // Column price (PU * qty)
    next.html(weight_total * iqty.parentNode.previousSibling.innerHTML);
    next = next.next();
    if($(next).children('span').empty()) return true;
    while(next) {
        // Last column : total
        if(next.attr('class') == 'total_weight') {
            next.children(':first-child').html(weight_total);
            return true;
        }
        // Amaps columns
        nb = $('#' + next.attr('class')).attr('value');
        next.children(':first-child').html(iqty.value * nb);
        next = next.next();
    }
    return false;
}

$.rollbackPrices = function() {
    lastField.value = $('#last_value').attr('value');
    lastField.parentNode.nextSibling.innerHTML = lastField.value * lastField.parentNode.previousSibling.innerHTML;
    //$('.iqty').number(true, 3);
    $('.cell_number').formatNumber({format:"#0.00", locale:"us"});
    alert('La valeur saisie fait dépasser le montant total du panier.');
    return;
}

$.toggleLock = function(img, lock) {
    if(lock && $(img).hasClass('lock')) return;
    var parent = $(img).parent();
    $(parent).children('img').toggleClass('hidden');
    $(parent).append(img);
    return;
}

$.clear = function(p) {
    var tr = $(p).parents('tr');
    var iqty = tr.find('.iqty');
    iqty.attr('value', 0);
    iqty.trigger('change');
    //$('.' + $(tr).attr('id')).toggleClass('hidden');
    return;
}

$(document).ready(function(){
    lastField = $('.iqty').get(0);
    panierPrice = eval({{ panier_price.price }});
    $('.iqty').change(function(evt) {
        $(this).addClass('fixed');
        $.adjustLine(this);
        if(this.value == 0) {
            $('.' + this.parentNode.parentNode.id).toggleClass('hidden');
        }
        $.toggleLock($(this).next(), true)
        $.ajustPrices();
        return;
    }).focus(function(){
        lastField = this;
        $('#last_value').attr('value',this.value);
        this.select();
    });
    //button to recompute the line
    $('.recompute').click(function() {
        $(this).prev().toggleClass('fixed');
        $.toggleLock(this);
        $.ajustPrices();
        return;
    });
    //clear button
    $('.cancel').click(function() {
        $.clear(this);
        $.ajustPrices();
        return;
    });
    //selector for products with no quantity
    $('#duplicatebtn').click(function() {
    });
    //selector for products with no quantity
    $('#unused_products').change(function() {
        if(!this.value) return;
        $('.' + this.value).toggleClass('hidden');
        this.value = 0;
        return;
    });
    //search panel
    $('#searchbtn').click(function(){
        //alert(document.getElementById('amap_sel').value);
        $.ajax({
            type: "POST",
            url: "{{ path('panierorder_search')}}",
            data: {
                'amapId': document.getElementById('amap_sel').value,
                'type': document.getElementById('type_sel').value,
                'id': {{ entity.id }},
                'limit': document.getElementById('ilimit').value
                },
            success: function(data){
                $('#search_panel').html(data);
                $('.duplicatebtn').addClass('hidden');
                $('.cell_number_search').formatNumber({format:"#0.00", locale:"us"});
            }
        }).fail(function() { alert("error"); });    
        return false;
    });
    $(window).resize(function() {
        $('#search_panel').height(parseInt($(window).height()) - 240);
    });
    $(window).trigger('resize');
    $.ajustPrices();
    $('#command_block').width($('#panier_table').width());
});

</script>
{% endblock %}
