{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<h1>Commande de Panier - creation : Étape 1</h1>

<dl>
    {% if amap %}
    <dt>AMAP :</dt>
    <dd>{{ amap.name }}</dd>
    {% endif %}
</dl>

<form action="{{ path('panierorder_step3_new', {'amapId' : amapId}) }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form.panier) }} 
    <input type="button" class="iweek" value="-" />
    <span id="block_week"><input type="hidden" id="idate" value="{{ entity.date|date('Y-m-d') }}" />{{ entity.date|getWeek('full') }}</span>
    <input type="button" class="iweek" value="+" />
    <span class="hidden">{{ form_rest(form) }}</span>
    <button type="submit">Créer</button>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('panierorder') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}

{% block javascripts %}{{ parent() }}
<script type="text/javascript">
var amapId = {{ amapId }}    

$(document).ready(function(){
    $('.iweek').click(function(evt) {
        $.ajax({
            type: "POST",
            url: "{{ path('panierorder_weekchange')}}",
            data: {
                'date': $('#idate').attr('value'),
                'sign': this.value
            },
            success: function(data){
                $('#block_week').html(data);
                document.getElementById('smle_panbundle_panierordertype_date').value = document.getElementById('idate').value;
            }
        }).fail(function() { alert("error"); });    
        return false;
    });
});

</script>
{% endblock %}

