{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<h1>Commande de Panier - creation : Étape 2</h1>

<form action="{{ path('panierorder_step3_new') }}" method="post" {{ form_enctype(form) }}>
    {{ form_widget(form.panier) }}
    <span class="hidden">{{ form_rest(form) }}</span>
    <button type="submit">Créer</button>
</form>

<ul class="record_actions">
    <li>
        <a href="{{ path('panierorder') }}">
            Back to the list
        </a>
    </li>
</ul>
{% endblock %}
