<div>
    <table id="panier_table" class="records_list" style="table-layout: fixed;">
        <tbody>
            <tr>
                <th>Produits</th>
                <th>Unité</th>
                <th>Prix</th>
                <th>Quantité</th>
                <th>Total</th>
            </tr>
            {% for pu in entity.productUnits %}
            <tr>
                <td>{{ pu.productPrice.productUnit.product.label }}</td>
                <td>{{ pu.productPrice.productUnit.unit.label }}</td>
                <td class="cell_number">{{ pu.productPrice.price }}</td><td class="cell_number">{{ pu.quantity }}</td>
                <td class="cell_number">{{ pu.productPrice.price * pu.quantity }}</td>
            </tr>    
            {% endfor %}
            <tr>
                <td>
                </td>
                <td></td>
                <td></td>
                <td>Total</td>
                <td class="cell_number">{{ entity.panierPriceTotal }}</td>
            </tr>
        </tbody>
    </table>
</div>
