{% extends 'SmlePanBundle::layout.html.twig' %}

{% block body %}

<h1>Bordereau de Livraison</h1>

<div class="page">
    <div class="address">
        <div><a href="{{ path('amap_show', { 'id' : amap.id }) }}">{{ amap.name }}</a></div>
        <div>{{ amap.address }}</div>
        <div>{{ amap.cp }} {{ amap.city }}</div>
        <div><a href="mailto:{{ amap.email }}">{{ amap.email }}</a></div>
    </div>
    
    <h5>Jour de livraison : {{ amap.amapDeliveryDays.0.day|getDay }} {{ date|date('d/m/Y') }}</h5>

    <table class="records_list">
        <thead>
            <tr>
                <th>Produit</th>
            {% for pkey, po in results %}
                <th><a href="{{ path('panierorder_edit', { 'id' : pkey }) }}">{{ po.name }}</a></th>
            {% endfor %}
                <th>Quantité Totale</th>
            </tr>
        </thead>
        <tbody>
            {% for product in products %}
            <tr>
                <td>
                    {{ product.name }}
                </td>
                {% for pkey, po in results %}
                <td class="cell_number">
                    {% if product.panier[pkey] is defined %}
                        {{ product.panier[pkey].quantity|round(1) }}
                    {% endif %}
                </td>
                {% endfor %}
                <td class="cell_number">
                    {{ product.tqty|round(1) }}
                </td>
            </tr>
            {% endfor %}
            <tr>
                <th>Nombre de paniers</th>
            {% for po in results %}
                <th class="cell_number">
                    {{ po.nadherents }}
                </th>
            {% endfor %}
                <th></th>
            </tr>
        </tbody>
    </table>

    <p class="controls"><a href="{{ path('panierorder_printrecaptopdf', { 'amapId' : amap.id, 'date' : dateUrl }) }}">
        {% image
            '@SmlePanBundle/Resources/public/images/Adobe_PDF_Icon.svg.png'
        %}
            <img src="{{ asset_url }}" alt="pdf icon" />
        {% endimage %}
    </a></p>

</div>

{% endblock %}
