{% for entity in entities %}
<div>
    <ul class="simplelist">
        <li>
            <b>{{ amap.name }}</b> - <a href="{{ path('panierorder_edit', { 'id': entity.id, 'amapId': amap.id }) }}">Panier {{ entity.id }}</a></li>
        <li>{{ entity.panier.name }} ({{ entity.panierPrice.price }} €) - {{ entity.date|getWeek('full') }}</li>
    </ul>

    <div>
        <table id="panier_table" class="records_list" style="table-layout: fixed;">
            <tbody>
                <tr>
                    <th>Produits</th>
                    <th>Unité</th>
                    <th>Prix</th>
                    <th>Quantité</th>
                    <th>Total</th>
                </tr>
                {% for pu in entity.productUnits %}
                <tr>
                    <td>{{ pu.productPrice.productUnit.product.label }}</td>
                    <td>{{ pu.productPrice.productUnit.unit.label }}</td>
                    <td class="cell_number_search">{{ pu.productPrice.price }}</td><td class="cell_number_search">{{ pu.quantity }}</td>
                    <td class="cell_number_search">{{ pu.productPrice.price * pu.quantity }}</td>
                </tr>    
                {% endfor %}
                <tr>
                    <td>
                    </td>
                    <td></td>
                    <td></td>
                    <td>Total</td>
                    <td class="cell_number_search">{{ entity.panierPriceTotal }}</td>
                </tr>
            </tbody>
        </table>
    </div>
    {% image
        '@SmlePanBundle/Resources/public/images/cancel.png'
    %}
        <img class="cancel" src='{{ asset_url }}' alt='effacer' title='effacer' height='11' onclick="this.parentNode.parentNode.removeChild(this.parentNode);"/>
    {% endimage %}
    <button class="duplicatebtn" onclick="document.panierorder_duplicate.poRefId.value={{ entity.id }};document.panierorder_duplicate.duplicMode.value=this.nextSibling.checked;document.panierorder_duplicate.submit();">
        Dupliquer</button><input type="checkbox" id="cbk{{ entity.id }}" class="duplicatebtn" checked /><label for="cbk{{ entity.id }}" class="duplicatebtn">Ajuster les quantités</span>
</div>
{% endfor %}
